/* 
* → removes default margin/padding, sets font.
box-sizing: border-box; → makes width/height calculations easier.
html, body { height:100%; width:100%; } → full-page layout. */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  color: black; 
  overflow: hidden;
}
#box1, #box2{
  height: 100px;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
#box1{
  background-color: rgb(216, 248, 91);
}
#box2{
  background-color: rgb(81, 207, 241);
}
